@import-normalize;
@import-sanitize;

@font-face {
    font-family: 'Public Sans';
    src: url('/assets/fonts/PublicSans-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/assets/fonts/PublicSans-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: italic;
    font-display: swap;
}

:root {
    --black-hsl: 20, 5%, 8%;
    --white-hsl: 0, 0%, 95%;
    --text-transparency: 0.95;
    --red-hue: 5;
    --purple-hue: 280;
    --blue-hue: 225;
    --saturation: 100%;
    --lightness: 25%;
}

html,
body {
    height: 100%;

    font-family: 'Public Sans', system-ui;
    line-height: 1.375;
    font-size: clamp(1rem, 1vw, 1.375rem);
    font-variation-settings: 'wght'400;
}

@media (prefers-reduced-data: reduce) {
    font-family: system-ui;
}

body {
    background-color: hsl(var(--white-hsl));
    color: hsla(var(--black-hsl), var(--text-transparency));
}

a {
    color: hsla(var(--blue-hue), var(--saturation), var(--lightness), var(--text-transparency));

    &:active {
        color: hsla(var(--red-hue), var(--saturation), var(--lightness), var(--text-transparency));
    }

    &:visited {
        color: hsla(var(--purple-hue), var(--saturation), var(--lightness), var(--text-transparency));
    }
}

figure {
    margin: 0;
}


/* https://www.zachleat.com/web/fluid-images */
img {
  max-width: 100%;
}

img[width][height] {
  height: auto;
}

img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-variation-settings: 'wght'700;
    line-height: 1;
    margin: 0.625rem 0 0.37rem;
}

p {
    margin: 0 0 0.625rem;
}

h1 {
    font-size: 3.625rem;
}

h2 {
    font-size: 2.875rem;
}

h3 {
    font-size: 2.25rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.375rem;
}

h6 {
    font-size: 1.125rem;
}

footer .icons {
    padding: 0.5em;
    margin: 0 auto;

    & svg {
        width: 2rem;
        height: 2rem;
        fill: hsl(var(--black-hsl));
    }
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

@media(prefers-color-scheme: dark) {
    :root {
        --saturation: 80%;
        --lightness: 80%;
    }

    body {
        background-color: hsl(var(--black-hsl));
        color: hsla(var(--white-hsl), var(--text-transparency));
        font-variation-settings: 'wght'350;
    }

    img {
        filter: brightness(.9) contrast(1.1);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-variation-settings: 'wght'650;
    }

    footer .icons svg {
        fill: hsl(var(--white-hsl));
    }
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}
