body {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    column-gap: 1rem;
}

header, footer {
    grid-column: 1 / 4;
}

header {
    margin-bottom: 1rem;
}

main {
    margin: 0 auto;
    grid-column: 2 / 3;
}

section {
    min-width: 20ch;
    max-width: 80ch;
}

.flex {
    display: flex;
    
    & > *:not(:last-child) {
        margin-right: 1rem;
    }
    
    &.wrap {
        flex-wrap: wrap;
    }
    &.center {
        align-items: center;
    }
}
