---
layout: base
pageStyle: 
---

main.flex.wrap(style="max-width: 120ch")
    section
        h1 Hey there!!
        p.
            I'm Jonathan Troyer, a software developer at #[a(href='https://overmatch.com') Overmatch], formerly at #[a(href='https://www.nextthought.com') NextThought].
            #[br]
            Check me out on #[a(href='https://gitlab.com/JonathanTroyer') GitLab]
            and #[a(href='https://github.com/JonathanTroyer') GitHub].
        p.
            I'm also on #[a(href='https://twitter.com/MrJTroyer') Twitter], if you're into that.
    section(style="max-width: 20ch; margin: 0 auto;")
        picture(style="aspect-ratio: 500/667")
            //- source(type="image/avif" srcset="assets/photos/headshot/headshot.avif")
            source(type="image/webp" srcset="assets/photos/headshot/headshot.webp")
            img(src="assets/photos/headshot/headshot.jpg" alt="A picture of the author")
